#carousel{
    height: 500px;
}

.product-item-content { 
    border-radius: 3px; 
    padding: 1rem 0; 
} 

#main-img-carousel{
    width: 400px;
}

@media (max-width: 1050px){
    #hide-element{
        display: none;
    }
}

::ng-deep .p-carousel-indicator .p-link{
    background-color: rgb(195, 84, 36);
}