<div id="carousel" class="overflow-hidden grid grid-cols-3 grid-flow-row">
    <div class="col-span-2">
        <p-carousel [value]="cars" [autoplayInterval]="3000"> 
            <ng-template let-car pTemplate="item"> 
                <div class="product-item"> 
                    <div class="product-item-content"> 
                        <div class="p-mb-3"></div> 
                        <img [src]="srcImageFake" alt="" id="main-img-carousel" class="m-auto">
                    </div> 
                </div> 
            </ng-template> 
        </p-carousel>
    </div>
    <div class="col-span-1">
        <div class="grid grid-rows-2 grid-flow-col">
            <div class="row-span-1">
                <img [src]="srcImageFake" alt="" class="block w-fit m-auto">
            </div>
            <div class="row-span-1">
                <img [src]="srcImageFake" alt="" class="block w-fit m-auto">
            </div>
        </div>
    </div>
</div>