<div class="search-results grid gap-5"
        [ngClass]="handlerSize()"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="500"
        (scrolled)="onScroll()"
        [scrollWindow]="true"
        >
        <div class="col-span-1" *ngFor="let product of listProduct">
            <p-card  [style]="{ width: '' }" class="cursor-pointer" (click)="detailProduct(product.id!.toString())">
                <ng-template pTemplate="header">
                    <div class="grid grid-cols-1 relative" style="max-width: 100%; max-height: 100%; overflow: hidden;">
                        <div class="item-top col-span-1 absolute">
                          <img [src]="product.image" class="w-fit" style="width: 100%; height: auto;" alt="product.name">
                        </div>
                        <div class="item-bottom col-span-1 z-10">
                          <img src="https://down-vn.img.susercontent.com/file/vn-50009109-4efce4541b088cd8e07f320804e8846d" alt="product.name">
                        </div>
                      </div>
                </ng-template>
                <p class="break-normal" *ngIf="!isOnScreenDevice">
                    {{product.name! | truncateText: 30 }}  
                    
                </p>
                <p class="break-normal" *ngIf="!isOnScreenDevice">
                    {{product.description! | truncateText: 50 }}    
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-row" *ngIf="!isOnScreenDevice;else notInOnDevicePCard">
                        <p class="text-start text-orange-500 pr-5">{{product.price  | number: '1.0-0'}}</p>
                        <p class="text-end">Đã bán {{'0'}}</p>
                    </div>
                    <ng-template #notInOnDevicePCard>
                        <div class="flex flex-col">
                            <p>
                                {{product.name! | truncateText: 30 }}                
                            </p>
                            <p class="text-orange-500 pr-5">{{product.price  | number: '1.0-0'}}</p>
                            <p class="">Đã bán {{'0'}}</p>
                        </div>
                    </ng-template>
                </ng-template>
            </p-card>
        </div>
</div>

<div class="grid grid-cols-1 justify-center mt-10" *ngIf="isLoading">
    <app-loading-util class="col-span-1 m-auto" ></app-loading-util>
</div>

<div class="my-8 text-center h-30">
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Xem thêm</a>
</div>