<div class="grid grid-cols-5 grid-flow-row bg-gray-300 clear-both relative -m-96 bottom-0">
    <div class="col-span-1" *ngFor="let item of listFooterFake">
        <div class="grid grid-rows-5 grid-flow-col">
            <div class="row-span-1 font-bold">
                Chăm sóc khách hàng
            </div>
            <div class="row-span-4 -mt-4">
                <div class="grid grid-flow-row-dense">
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                    <div class="row-span-1">
                        <a href="" class="hover:text-orange-500">Trung Tâm Trợ Giúp</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>