
<div class="header-bg fixed top-0 z-20 bg-gradient-to-r from-orange-400 to-orange-600 w-full h-32"
[style.background-image]="'url(' + headerBackgroundImage + ')'"
>
    <div class="grid col-span-2 grid-flow-row m-auto pt-1 " [ngClass]="isOnScreenDevice ? '' : 'w-8/12'">
        <div class="firstLine">
            <div class="grid row-span-2 grid-flow-col text-base text-white">
                <div class="grid row-span-3 grid-flow-col w-96">
                    <span [matMenuTriggerFor]="menuSeller" class="border-r-2 order-stone-50 no-underline text-white cursor-pointer"  id="label-title">Kênh Người Bán</span>
                    <mat-menu #menuSeller="matMenu" (menuOpen)="true">
                        <span class="p-2">Not Support Yet</span>
                    </mat-menu>
                    <button class="border-r-2 order-stone-50 pl-2 -mt-1  no-underline text-white"  id="label-title" [matMenuTriggerFor]="menuApplication">Tải ứng dụng</button>
                    <mat-menu #menuApplication="matMenu" (menuOpen)="true">
                        <div class="flex flex-col">
                            <img src="w-full" alt="" [src]="imageFake">
                            <div class="flex flex-row w-full p-2">
                                <div class="flex flex-row w-1/2 ">
                                    <mat-icon>facebook</mat-icon>
                                    <span>facebook</span>
                                </div>
                                <div class="flex flex-row w-1/2 justify-end">
                                    <mat-icon>facebook</mat-icon>
                                    <div class="float-right">
                                        <span>facebook</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-menu>
                    <div class="pl-2">
                        <div class="grid row-span-3 grid-flow-col w-15">
                           <span>Kết Nối</span>
                           <a href="" class="text-white hover:text-gray-200">
                                <mat-icon>facebook</mat-icon>
                           </a> 
                           <a href="" class="text-white hover:text-gray-200">
                                <mat-icon>add_a_photo</mat-icon>
                           </a> 
                        </div>
                    </div>
                </div>
                <div class="grid row-span-4 grid-flow-col justify-end ">
                        <div class="grid row-span-2 grid-flow-col mr-4" id="label-title">
                            <mat-icon>notifications_none</mat-icon>
                            <div [matMenuTriggerFor]="menuNotification" class="cursor-pointer">
                                Thông Báo
                            </div>
                            <mat-menu #menuNotification="matMenu">
                                <div class="grid grid-rows-2 grid-flow-col h-auto max-w-xl gap-1">
                                    <div class="row-span-1">
                                        <div class="grid grid-cols-3 grid-flow-row cursor-pointer hover:bg-gray-100">
                                            <div class="cols-span-1 w-32 m-auto">
                                                <img class="w-full m-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScm3EFlRXb0P8mBevP2AyYtCN1VqIp_VaqQg&usqp=CAU">
                                                </div>
                                            <div class="cols-span-2 col-start-2 col-end-4 w-full">
                                                <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis et lorem sit amet vehicula. Etiam vel nibh nec nisi euismod mollis ultrices condimentum velit. Proin velit libero, interdum ac rhoncus sit amet, pellentesque ac turpis. Quisque ac luctus turpis, vel efficitur ante. Cras convallis risus vel vehicula dapibus. Donec eget neque fringilla, faucibus mi quis, porttitor magna. Cras pellentesque leo est, et luctus neque rutrum eu. Aliquam consequat velit sed sem posuere, vitae sollicitudin mi consequat. Mauris eget ipsum sed dui rutrum fringilla. Donec varius vehicula magna sit amet auctor. Ut co' | truncateText: 200}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-span-1 text-center w-full mt-3 cursor-pointer justify-center">
                                        <div class="grid grid-cols-1 grid-flow-row h-14 hover:bg-gray-100 pt-2">
                                            <p>Xem tất cả</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-menu>
                        </div>
                        <div class="grid row-span-2 grid-flow-col mr-4 cursor-pointer text-white hover:text-gray-200" id="label-title ">
                            <mat-icon>contact_support</mat-icon>
                            <span>Hỗ Trợ</span>
                        </div>
                        <div class="grid row-span-2 grid-flow-col w-32" id="label-title"> 
                            <div class="flex flex-row w-full grid-flow-col mr-4 cursor-pointer">   
                                <div class="w-2/6">
                                    <mat-icon>contact_support</mat-icon>
                                </div>
                                <div class="w-full">
                                    <span [matMenuTriggerFor]="menuLanguage">Ngôn Ngữ</span>
                                    <mat-menu #menuLanguage="matMenu">
                                        <button mat-menu-item (click)="selectLanguage('Tiếng Việt')">Tiếng Việt</button>
                                        <button mat-menu-item (click)="selectLanguage('Tiếng Anh')">Tiếng Anh</button>
                                    </mat-menu>
                                </div>  
                            </div>
                        </div>
                        <div class="grid row-span-2 grid-flow-col" id="label-title" *ngIf="isAccountLogin, else accountNotLogin">
                            <mat-icon class="mr-2">account_circle</mat-icon>
                            <span>Account</span>
                        </div>
                        <ng-template #accountNotLogin>
                            <div class="grid row-span-2 grid-flow-col" id="label-title" *ngIf="!isAuthen; else authen">
                                <a href="/login" class="pr-2 mr-2  border-r-2 border-gray-300 border-solid text-white hover:text-gray-200">Đăng Nhập</a>
                                <a href="/register" class="text-white hover:text-gray-200">Đăng Ký</a>
                            </div>
                            <ng-template #authen>
                                <div class="grid row-span-2 grid-flow-col" id="label-title">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpCsTe3aMFLzOkE6XsCliWxemFMttaPPMtw-d6UEcxnQ&s"  class="w-10 h-7 cursor-pointer rounded-full" alt="" [matMenuTriggerFor]="menuAvatar">
                                    <mat-menu #menuAvatar="matMenu">
                                        <button mat-menu-item  class="grid grid-cols-2">
                                            <mat-icon>
                                                perm_identity
                                            </mat-icon>
                                            <div>
                                                Thông tin cá nhân
                                            </div>
                                        </button>
                                        <button mat-menu-item  class="grid grid-cols-2">
                                            <mat-icon>
                                                history
                                            </mat-icon>
                                            <div>
                                                Lịch sử đặt hàng
                                            </div>
                                        </button>
                                        <button mat-menu-item  class="grid grid-cols-2"  (click)="logout()">
                                            <mat-icon>
                                                exit_to_app
                                            </mat-icon>
                                            <div>
                                                Đăng Xuất
                                            </div>
                                        </button>

                                    </mat-menu>
                                </div>
                            </ng-template>
                        </ng-template>
                </div>
            </div>
          
        </div>
        <div class="secondLine w-full mt-2" *ngIf="!isAuthorization && isShopping">
            <div class="grid grid-cols-5 grid-rows-2 w-full h-24">
               <div class="col-span-1 row-span-2" id="title-logo">
                    <div class="grid grid-cols-2 grid-flow-row h-full cursor-pointer" (click)="redirectHomePage()">
                        <div class="m-auto">
                            <mat-icon  class=" text-5xl text-end" id="icon" >shopping_basket</mat-icon>
                        </div>
                        <div class="my-auto text-start text-3xl text-white -ml-8  icon-logo">
                            <span class="text-4xl">{{nameBranch}}</span>
                        </div>
                    </div>
               </div>
               <div class="col-span-3 ml-12">
                  
                    <div class="p-inputgroup w-full h-14">
                        <form class="example-form w-full" id="input-search">
                            <input type="text"
                                   placeholder="Search for a street"
                                   [formControl]="controlSearchInput"
                                   [matAutocomplete]="auto"
                                   class="w-full h-full ml-2 pl-5 text-xl focus:outline-none"
                                 
                                   >
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let data of filteredSearchInput | async" [value]="data">
                                      {{ data }}
                                    </mat-option>
                                </mat-autocomplete>
                          </form> 
                        <button type="button" pButton icon="pi pi-refresh" styleClass="p-button-primary" class="bg-red-500 text-white p-4" >
                            <mat-icon>search</mat-icon>
                        </button> 
                    </div>

                    <div class="grid grid-cols-8 grid-flow-row text-white mt-1 hide-element">
                        <a href="" class="text-white no-underline text-xs">LEGO Ninjago</a>
                        <a href="" class="text-white no-underline text-xs">LEGO Ninjago</a>
                        <a href="" class="text-white no-underline text-xs">LEGO Ninjago</a>
                    </div>
                </div>
               <div class="col-span-1 row-span-2 m-auto" id="title-logo">
                    <mat-icon [matMenuTriggerFor]="menuCart" class=" text-4xl text-end cursor-pointer"  matBadge="{{order.orderDetailRequestDtoList?.length}}" id="icon" matBadgeColor="warn">shopping_cart</mat-icon>
                    <mat-menu #menuCart="matMenu">
                        <div class="flex flex-col bg-gray-100 gap-3 p-2" style="width: 500px;">
                            <div>
                                <span class="uppercase text-start text-black font-bold">{{order.orderDetailRequestDtoList?.length! > 0 ? 'Sản phẩm mới thêm' : ' Chưa có sản phẩm nào'}}</span>
                            </div>
                            <div *ngFor="let item of order.orderDetailRequestDtoList">
                                <div class="flex flex-row">
                                    <img [src]="item.image" alt="" class="w-20">
                                    <div class="w-72 mx-2">
                                        <span>{{item.description!| truncateText:90}}</span>
                                    </div> 
                                    <div class="flex flex-col">
                                        <span>{{item.price | number: '1.0-0'}}</span>
                                        <span> x {{item.quantity}}</span>
                                        <span><button class="bg-orange-600 text-white" (click)="deleteOrder(item.productId!)"><mat-icon>delete</mat-icon></button></span>
                                    </div>
                                    
                                </div>
                            </div>
                        
                            <div class="flex flex-row" *ngIf="order.orderDetailRequestDtoList?.length! > 0">
                                <div class="w-1/2">
                                    <span>1 thêm hàng vào giỏ</span>
                                </div>
                                <div class="w-1/2 text-end">
                                    <button class="bg-orange-600 text-white p-2 " (click)="getPageCart()">Xem giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </div>
            <div class="flex flex-row w-full h-24" *ngIf="!isAuthorization && !isShopping">
                <div class="flex flex-row w-1/2 m-auto h-full p-6">
                    <div class="grid grid-cols-3 grid-flow-row h-full cursor-pointer" (click)="redirectHomePage()">
                        <div class="m-auto mr-10">
                            <mat-icon  class="text-5xl text-end" id="icon" >shopping_basket</mat-icon>
                        </div>
                        <div class="my-auto text-start text-4xl text-white -ml-8 mr-10  icon-logo border-r-2 border-red-500 border-solid pr-2 hide-element">
                            <span class="">{{nameBranch}}</span>
                        </div>
                        <div class="my-auto text-start text-2xl text-white -ml-8 mt-4 icon-logo hide-element">
                            <span class="">Giỏ Hàng</span>
                        </div>
                    </div>
                </div>
                <div class="flex  w-1/2">
                    <div class="p-inputgroup h-10 m-auto">
                        <input type="text" pInputText placeholder="{{nameBranch}} THỜI TRANG" class="pl-1"/>
                        <button class="text-white px-6 bg-red-700" type="button" pButton icon="pi pi-refresh" styleClass="p-button-warn">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>    
            <div class="flex flex-row w-full h-24"  *ngIf="isAuthorization">
                <div class="flex flex-row w-1/2 m-auto h-full p-6">
                    <div class="grid grid-cols-3 grid-flow-row h-full " >
                        <div class="m-auto mr-10" (click)="redirectHomePage()">
                            <mat-icon  class="text-5xl cursor-pointer text-end" id="icon" >shopping_basket</mat-icon>
                        </div>
                        <div class="my-auto text-start text-4xl cursor-pointer text-white -ml-8 mr-10  icon-logo border-r-2 border-red-500 border-solid pr-2 hide-element" (click)="redirectHomePage()">
                            <span class="">{{nameBranch}}</span>
                        </div>
                        <div class="my-auto text-start text-2xl text-white -ml-8 mt-4 icon-logo hide-element">
                            <span class="">Đăng Nhập</span>
                        </div>
                    </div>
                </div>
                <div class="flex  w-1/2">
                    
                </div>
            </div>
    </div>
</div>
