<div ></div>
<app-carousel class="mt-10"></app-carousel>

<app-tip-carousel id="hide-element" [srcImageFake]="srcImageFake" 
    [listItemCategory]="listItemCategory"
></app-tip-carousel>

<div class="mt-8" id="hide-element">
    <h1>DANH MỤC</h1>
</div>
<div id="hide-element">
    <app-category-carousel [srcImageFake]="srcImageFake" ></app-category-carousel>
</div>

<div class="mt-8">
    <h1>TOP HÀNG BÁN CHẠY</h1>
</div>
<app-flash-product>

</app-flash-product>
<div class="mt-8">
    <h1>GỢI Ý HÔM NAY</h1>
</div>
<app-products></app-products>