<div ></div>
<app-carousel class="mt-10"></app-carousel>

<!-- TODO hiding -->
<!-- <app-tip-carousel id="hide-element" [srcImageFake]="srcImageFake" 
    [listItemCategory]="listItemCategory"
></app-tip-carousel> -->

<div class="bg-title">
    <h1>DANH MỤC</h1>
</div>
<div>
    <app-category-carousel [srcImageFake]="srcImageFake" ></app-category-carousel>
</div>

<img src="https://down-vn.img.susercontent.com/file/vn-50009109-22cb2c8d41c60a1261a7ef7d102601ce" class="h-52 m-auto">


<div class="mt-8 bg-title">
    <h1>TOP HÀNG BÁN CHẠY</h1>
</div>
<app-flash-product>

</app-flash-product>
<div class="mt-8 bg-title">
    <h1>GỢI Ý HÔM NAY</h1>
</div>
<app-products></app-products>

<p-dialog [visible]="visible" [modal]="true" [style]="{ 'background-color': 'transparent', 'border':'none', 'box-shadow':'none' }" [draggable]="false" [resizable]="false" [dismissableMask]="true" (visibleChange)="onDialogVisibilityChange($event)">
    <div class="relative">'
        <div class="grid grid-cols-1 relative">
            <div class="item-top col-span-1 absolute right-0">
                <button (click)="closePopup()" class="bg-orange-600 text-white p-2"><mat-icon>close</mat-icon></button>
            </div>
            <div class="item-bottom col-span-1 ">
                <img src="https://img.freepik.com/premium-vector/valentines-day-sale-banner-with-mobile-podium-suitable-campaign-online-shop_333987-1275.jpg">
            </div>
        </div>
    </div>
</p-dialog>