<app-carousel></app-carousel>

<app-tip-carousel id="hide-element" [srcImageFake]="srcImageFake" 
    [listItemCategory]="listItemCategory"
></app-tip-carousel>

<div class="mt-8" id="hide-element">
    <h1>DANH MỤC</h1>
</div>
<div id="hide-element">
    <app-category-carousel [srcImageFake]="srcImageFake" ></app-category-carousel>
</div>

<div class="mt-8 text-center">
    <h1>GỢI Ý HÔM NAY</h1>
</div>
<app-products></app-products>

<div class="mt-8 text-center h-30">
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Xem thêm</a>
</div>