<div class="grid grid-cols-2">
    <div>
        <div class="grid grid-cols-5 text-center p-2" *ngFor="let item of listOrders">
            <div class="col-span-2 row-span-2 cursor-pointer shadow-xl m-auto w-20">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVevolOtFN5FsQNOwSb5IuevnkEZWWy3i4lreybG-U7g&s" alt="">
            </div>
            <div>
                Tên sản phẩm
            </div>
            <div>
                100000 
            </div>
            <div>
                X 1 : 100000
            </div>
        </div>
        <div class="border-t-2 border-gray-100 pt-3">
            <div class="text-right px-3 pr-4">
                <div>
                    <h3>Tổng Tiền :        1000</h3>
                </div>
            </div>
        </div>
      </div>
    <form [formGroup]="orderForm" class="example-container p-5">
        <mat-form-field class="w-full">
          <mat-label>name</mat-label>
          <input matInput placeholder="Enter..." formControlName="name" required>
          <!-- @if (orderForm.get('name')!.invalid) {
              <mat-error >{{getErrorMessage('name')}}</mat-error>
          } -->
        </mat-form-field>
  
        <mat-form-field class="w-full">
          <mat-label>address</mat-label>
          <input matInput placeholder="Enter..." formControlName="address" required>
          <!-- @if (orderForm.get('name')!.invalid) {
              <mat-error >{{getErrorMessage('name')}}</mat-error>
          } -->
        </mat-form-field>
  
        <mat-form-field class="w-full">
          <mat-label>phone</mat-label>
          <input matInput placeholder="Enter..." formControlName="phone" required>
          <!-- @if (orderForm.get('name')!.invalid) {
              <mat-error >{{getErrorMessage('name')}}</mat-error>
          } -->
        </mat-form-field>
  
        <mat-form-field class="w-full">
          <mat-label>email</mat-label>
          <input matInput placeholder="Enter..." formControlName="email" required>
          <!-- @if (orderForm.get('name')!.invalid) {
              <mat-error >{{getErrorMessage('name')}}</mat-error>
          } -->
        </mat-form-field>
  
        <button class="w-full h-10 text-xl text-white leading-5 bg-orange-500 hover:bg-orange-700" (click)="onSubmit()">
            Xác Nhận
        </button>
  </form>
  
</div>
