.content{
    width: 1200px;
    background-color: white;
}

::ng-deep .p-dialog-content{
    background-color: transparent;
    border: none;
}

::ng-deep .p-dialog-header{
    background-color: transparent;
    display: none;
}

.bg-app{
    background-repeat: space;
    background-size: contain;
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    background-position: center bottom; /* Position the background image at the bottom center */
}

.bg-login{
    background-image: url("/assets/images/body-background.jpg");
}

::ng-deep .p-speeddial-action{
    background-image: url("/assets/images/header-background.jpg");
    color: white;
}

:host ::ng-deep {
    .speeddial-tooltip-demo {
        .p-speeddial-direction-up {
            &.speeddial-left {
                left: 0;
                bottom: 0;
            }

            &.speeddial-right {
                right: 0;
                bottom: 0;
            }
        }
    }
    .p-speeddial-button{
        background-image: url("/assets/images/body-background.jpg");
        height: 40px;
        width: 40px;
        color: white;
        
    }
}