<p-toast></p-toast>
<app-header [isAuthorization]="isLoginPage || isRegisterPage"></app-header>
<div class="test mt-32 w-full" [ngClass]="isLoginPage || isRegisterPage ? 'bg-orange-600' : 'app-bg'">
    <div class="m-auto flex flex-col">
        <div class="content m-auto">
            <router-outlet></router-outlet>
        </div>
        <div class="bg-gray-100 border-t-4 border-orange-600 border-solid">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<app-chat></app-chat>