<p-toast></p-toast>
<app-header [isAuthorization]="isLoginPage || isRegisterPage"></app-header>
<div class="w-full" [ngClass]="isLoginPage || isRegisterPage ? 'bg-login' : 'bg-app'"
        [ngStyle]="{'margin-top': isOnScreenDevice ? '5rem' : '8rem'}"
        >
    <div class="m-auto flex flex-col ">
        <div class="m-auto" [ngClass]="isOnScreenDevice ? '' : 'content'">
            <router-outlet></router-outlet>
        </div>
        <div class="bg-gray-100 border-t-4 border-orange-600 border-solid">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<app-chat *ngIf="!isOnScreenDevice"></app-chat>