.content{
    width: 1200px;
background-color: white;
}

::ng-deep .p-dialog-content{
    background-color: transparent;
    border: none;
}

::ng-deep .p-dialog-header{
    background-color: transparent;
    display: none;
}

.bg-app{
    background-image: url("/assets/images/body-background.jpg");
    background-repeat: space;
    background-size: contain;
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    background-position: center bottom; /* Position the background image at the bottom center */
}

.bg-login{
    background-image: url("/assets/images/body-background.jpg");
}