#icon{
    width: 180px;
    height: 180px;
    font-size: 180px;
}

.bg-login{
    background-image: url("/assets/images/header-background.jpg");
    opacity: 0.8;
}

::ng-deep .p-inputtext{
    border: 1px solid black;
    height: 50px;
}