<div class="card">
    <p-toast></p-toast>
</div>

<div class="grid grid-cols-7 grid-flow-row w-full h-80">
    <div class="col-span-3">
        <div style="width:100%; background-color: transparent;"> 
            <p-galleria [numVisible]="4" [value]="images" activeIndexChange="print($event)"> 
                <ng-template pTemplate="item" let-item>
                    <img   [src]="item.image" class="w-full cursor-pointer" />
                </ng-template> 
                <ng-template pTemplate="thumbnail" let-item width="20%" class="bg-transparent mt-20"> 
                    <div class="grid grid-nogutter justify-content-center"> 
                        <img 
                        [src]="item.image" width=100% (mouseover)="testClick(item.image)"/> 
                    </div> 
                </ng-template> 
            </p-galleria> 
        </div>
    </div>
    <div class="col-span-4 bg-gray-100 pt-12 pl-10">
        <div class="flex flex-col leading-9">
                <span class="text-lg ml-2">{{product.name}}</span>
                <div class="grid grid-cols-8 grid-flow-row text-center">
                    <div class="col-span-2">
                        <div class="flex flex-row text-orange-600">
                            <span class="mr-2 ml-2"><u>{{starFake}}</u></span> 
                            <mat-icon *ngFor="let item of [].constructor(starFake)">star</mat-icon>
                        </div>
                      
                    </div>
                    <div class="col-span-1 border-l-gray-400">
                        <u>3</u> Đánh giá
                    </div>
                    <div class="col-span-1 border-l-gray-400">
                        <u>3</u> Đã Bán
                    </div>
                    <div class="col-span-4 text-end pr-5 cursor-pointer">
                        Tố cáo
                    </div>
                </div>
                <div class="bg-gray-200 h-14 text-2xl pt-3 pl-4 text-orange-700 w-full m-auto">
                    <span> {{product.price  | number: '1.0-0'}}</span>
                </div>
                <div class="mt-5">
                    <div class="grid grid-cols-5">
                        <div class="col-span-1 row-span-2">
                            Vận Chuyển
                        </div>
                        <div class="col-span-4">
                            <div class="flex flex-row">
                                <div class="flex flex-row">
                                    <mat-icon class="mt-1 mr-3" >shopping_cart</mat-icon>
                                    <p>Miễn phí vận chuyển</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-5 grid-flow-row">
                    <div class="col-span-1 row-span-2">
                        Số Lượng
                    </div>
                    <div class="col-span-4">
                            <div class="flex flex-row ">
                                <div class="flex flex-row text-center h-6 mr-8 border-2 border-black">
                                    <div class="border-r-2 border-black cursor-pointer bg-orange-600 text-white" (click)="removeItem()">
                                        <mat-icon>remove</mat-icon>
                                    </div>
                                    <div class="w-10">
                                        <div class="-m-2">
                                            <span class="">{{numberOfItem}}</span>
                                        </div>
                                    </div>
                                   
                                    <div class="border-l-2 border-black cursor-pointer bg-orange-600 text-white" (click)="plusItem()">
                                        <mat-icon >add</mat-icon>
                                    </div>
                                </div>
                                <span>{{product.quantity}} sản phẩm có sẵn</span>
                            </div>
                    </div>
                </div>
                <div class="mt-10">
                    <div class="flex flex-row card">
                        <button class="mr-10" mat-raised-button color="warn" (click)="addToCart()">Thêm vào giỏ hàng</button>
                        <button mat-raised-button color="warn" (click)="Checkout()">Mua Ngay</button>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="flex flex-col mt-96  ">
    <div class="bg-gray-100 p-10">
        <span class="font-bold text-2xl">CHI TIẾT SẢN PHẨM</span>
    </div>
    <div class="grid grid-cols-10 grid-flow-row ml-10 mt-10 leading-10">
        <div class="col-span-2">
            Danh Mục 
        </div>
        <div class="col-span-8">
            <a href="#">{{nameBranch}}</a>
        </div>
        <div class="col-span-2">
            Kho hàng
        </div>
        <div class="col-span-8">
            <span>{{product.quantity}}</span>
        </div>
        <div class="col-span-2">
            Gởi từ
        </div>
        <div class="col-span-8">
            <span>Nước ngoài</span>
        </div>
    </div>
    <div>
        <div class="bg-gray-100 p-10">
            <span class="font-bold text-2xl">MÔ TẢ SẢN PHẨM</span>
        </div>
        <div class="flex flex-col ml-10 mt-10 leading-8">
            <span>Thương Hiệu : LEGO / LEGO</span>
            <span>Mô hình: NJO</span>
            <span>Độ tuổi áp dụng: 12 tuổi, 14 tuổi, trên 14 tuổi, 6 tuổi, 8 tuổi, 7 tuổi, 11 tuổi, 9 tuổi, 10 tuổi, 13 tuổi</span>
            <span>Xuất xứ: Châu Âu</span>
            <span>Dành cho: Unisex</span>
            <span>Loại đồ chơi: Khối xây dựng lắp ráp</span>
            <span>Danh mục sản phẩm: Nhựa / Keo</span>
            <span>Phân loại màu sắc: Một vũ khí Ninja trắng, Một không có hình nhỏ, Một vũ khí Ninja màu đen, Một vũ khí Ninja màu đen không có hình nhỏ, Một vũ khí Ninja màu đỏ, Một không có Minifigure, Một vũ khí Ninja màu xanh lam, Một không có Minifigure</span>
            <span>Nhóm tuổi áp dụng: Chung</span>
        </div>
    </div>
</div>
<app-review-product></app-review-product>
<div class="flex flex-col">
    <div class="bg-gray-100 p-10">
        <span class="font-bold text-2xl"> CÓ THỂ BẠN CŨNG THÍCH</span>
    </div>
    <app-products></app-products>
</div>
