<p-carousel *ngIf="listItemCategoryGroupOne.length > 0"  [value]="groupCategory"
            [numVisible]="1"
            [numScroll]="1">
    <ng-template let-images pTemplate="item">
        <div class="grid grid-cols-10 grid-rows-2"> 
            <ng-container *ngIf="images === '1'">
                <div  class="grid grid-rows-2 grid-flow-col border-gray-200 border-2 duration-150 hover:shadow-lg opacity-90 hover:opacity-100 hover:border-gray-400 cursor-pointer bg-category" *ngFor="let item of listItemCategoryGroupOne" (click)="getPageCategory(item.name)">
                    <div class="grid-rows-1 m-3">
                        <div>
                            <img [src]="item.image" alt=""  class="w-20 block m-auto rounded-full border-gray-100 border-4">
                        </div>  
                    </div>
                    <div class="grid-rows-1 w-24 text-center justify-center mx-auto">
                        <span class="text-center break-normal grid-rows-2 m-auto w-28 text-white">{{item.name}}</span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="images === '2'">
                <div class="grid grid-rows-2 grid-flow-col border-gray-200 border-2 duration-150 hover:shadow-lg opacity-90 hover:opacity-100 hover:border-gray-400 cursor-pointer bg-category" *ngFor="let item of listItemCategoryGroupTwo" (click)="getPageCategory(item.name)">
                    <div class="grid-rows-1">
                        <img [src]="item.image" alt=""  class="w-20 block m-auto">
                    </div>
                    <div class="grid-rows-1 w-24 text-center justify-center mx-auto">
                        <span class="text-center break-normal grid-rows-2 m-auto w-28">{{item.name}}</span>
                    </div>
                </div>
            </ng-container>
        </div> 
    </ng-template>
</p-carousel>

<p *ngIf="listItemCategoryGroupOne.length <= 0 && !isLoading" class="text-center font-bold">
    No Data
</p>

<div class="grid grid-cols-1 justify-center mt-10" *ngIf="isLoading">
    <app-loading-util class="col-span-1 m-auto" ></app-loading-util>
</div>